@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Search","Home",FormMethod.Get)){

    <label for="id">What chu' want?</label>@Html.TextBox("text")<button type=submit>Go</button>


}
